.folloeing-noitems{
  margin: 16px 0px 0px;
}
.following-text{
    line-height: inherit;
    font-family: inherit;
    font-weight: 900;
    font-size: 36px;
}
.following-main-container{
    padding: 32px 0px;
    padding-left: 32px;
    padding-right: 32px
}