
.hot-bid-slider-backgroundcolour {
  padding-right: 20px;
  & h3 {
    height: 420px;
    width: 95%;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    border: 1px solid rgba(4, 4, 5, 0.1);
    overflow: hidden;
  }
}
.hot-bid-slick-slider-container {
  padding: 32px;
  margin-top: -20px;
}
.hot-bid-slider-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}