
.hot-collection-slider-backgroundcolour {
  padding-right: 20px;
  & h3 {
    background-color:cadetblue;
    height: 265px;
    width: 95%;
    border-radius: 10px;  
  }
}
.hot-collection-slick-slider-container {
  padding: 32px;
  margin-top: -20px;
}
