
.switch-box-container {
  background-color: rgba($color-blue,.2);
  width: 40px;
  height: 20px;
  position: relative;
  transition: all .4s;
  border-radius: 100px;
  &::after {
    content: '';
    height: 16px;
    width: 16px;
    display: inline-block;
    background-color: $color-blue;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    transition: position .4s;
  }
}
.switch-box-input:checked ~ .switch-box-container{
  background-color: $color-blue;
  transition: all .4s;
}
.switch-box-input:checked ~ .switch-box-container::after{
  left:auto;
  right: 3px;
  height: 14px;
  width: 14px;
  transition: position .4s;
  background-color: $color-white;
}