$color-secondry: #171717;
$color-primary: #fff;
$color-dark: #171717;
$color-white: #fff;
$color-slider: #FB5B84;
$color-blue: rgb(0, 102, 255);
$color-gray-font-placeholder: rgba(4, 4, 5, 0.486);
$color-gray-light-border: rgba(4, 4, 5, 0.1);
$color-gray-font: rgba(4, 4, 5, 0.5);
$color-light-button-background: rgba(0, 102, 255, 0.15);
$color-placeholder:#04040571;
$color-light-gray-background: rgba(4, 4, 5, 0.03);
$color-black-button-text:rgb(4, 4, 5);
$color-light-gray-tab: rgba(4, 4, 5, 0.4);